extends ../layout

block content
  .row.justify-content-center
    .col-md-7.col-lg-5
      .card.shadow-sm
        .card-body
          h1.h4.mb-3 Login
          form(action="/login", method="POST")
            .mb-3
              label.form-label(for="customerId") UserID / CustomerID
              input#customerId.form-control(type="text", name="customerId", required, value=(formData && formData.customerId) || "")
            .mb-3
              label.form-label(for="password") Password
              input#password.form-control(type="password", name="password", required)
            button.btn.btn-primary(type="submit") Login
          p.mt-3.mb-0
            | New user?
            a.ms-1(href="/register") Register here
